@import "tailwindcss";

:root {
  --blue-primary: #040440;
  --orange-accent: #FF4400;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--blue-primary);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1{margin-bottom: 4;}